*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
:root{
    --navItemColor : rgb(58, 58, 58);
    --navbarColor : #ced6e0;
    --primaryColor : rgb(224, 44, 109);
    --white : #fff;
}

/* ==================================== Header Section ============================== */
.header{
    max-width: 1240px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.navbar h2{
    font-size: 1.8rem;
}
.nav_container ul {
    display: flex;
    gap: 2.125rem;
}
.nav_container ul li{
    list-style: none;
}
.nav_container ul li:nth-child(5),
.nav_container ul li:nth-child(6){
    cursor: pointer;
    position: relative;
}
.nav_container ul li:nth-child(5):hover,
.nav_container ul li:nth-child(6):hover{
    color: var(--primaryColor);
}
.cart_icon{
    position: relative;
    cursor: pointer;
}
.icon_dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    top: 3px;
}
.nav_container ul li a{
    text-decoration: none;
    color: var(--navItemColor);
    font-size: 0.9rem;
    font-weight: 600;
}
.nav_container ul li a:hover{
    color: var(--primaryColor);
}
/* ************************ Navbar display--> none items ******************** */
#hamb,
.hmb,
.hamburger,
.cart_icon{
    display: none;
}

/* ============================= body Mian area section ======================= */
.header_main_area{
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 80px;
}
.main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_area_text h2{
    font-size: 3.25rem;
}
.main_area_text p{
    margin: 16px 0;
    max-width: 500px;
    font-size: 1rem;
    color: var(--navItemColor);
}
.main_area_text button{
    padding: 10px 24px;
    border: 1px solid transparent;
    border-radius: 41px;
    background-color: var(--primaryColor);
    color: var(--white);
    cursor: pointer;
}
.main_area_text button:hover{
    background-color: var(--white);
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}
.main_area_image{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.main_area_image img{
    width: 100%;
}
.main_area_logos{
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

















































@media screen and (max-width:576px) {
    .header{
        width: calc(100% - 40px);
        padding: 0 20px;
        position: absolute;
        justify-content: space-between;
    }
    .nav_container{
        position: absolute;
        top: 6%;
        left: -300px;
    }
    .nav_container{
        width: 300px;
        height: 100vh;
        background-color: var(--navbarColor);
        text-align: center;
        border-radius: 0 5px 0 0;
        transition: 0.5s ;
        z-index: 999;
    }
    .nav_container ul{
        flex-direction: column;
        gap: 10px;
    }
    .nav_container ul li{
        padding: 10px;
        cursor: pointer;
    }
    .nav_container ul li:hover a{
        color: var(--primaryColor);
    }
    .nav_container ul li:nth-child(5),
    .nav_container ul li:nth-child(6){
        display: none;
    }
    .navbar h2{
        font-size: 1rem;
    }
    .hmb,
    .hamburger,
    .cart_icon{
        display: block;
    }
    .cart_icon:hover{
        color: var(--primaryColor);
    }
    .hamburger{
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }
    .hmb_common{
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #000;
    }
    .hmb_top{
        top: 0;
    }
    .hmb_middle{
        top: 40%;
    }
    .hmb_bottom{
        bottom: 0;
    }
    #hamb:checked ~ .nav_container{
        left: 0;
    }
    /* ============================== Header main area ==================== */
    .main_container{
        flex-direction: column-reverse;
    }
    .main_area_text{
        margin-top: 25px;
        text-align: center;
    }
    .main_area_text h2{
        font-size: 2rem;
    }
    .main_area_text p{
        padding: 0 16px;
    }
    .main_area_image{
        background-size: contain;
    }
    .main_area_logos{
        border-top: none;
        border-bottom: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .main_area_logos img{
        width: 60px;
    }
}